/**************************** 
    RESET 
****************************/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: currentColor;
}

button {
	border: none;
	background-color: transparent;
}

menu,
ul,
ol {
	list-style: none;
}

body {
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    color: white;
}

.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}


/**************************** 
    LAYOUT 
****************************/

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-4 {
    width: calc(4 * 100% / 12);
}

.col-8 {
    width: calc(8 * 100% / 12);
}

.col-12 {
    width: 100%;
}

.button {
    border-radius: 999px;
}

/**************************** 
    STYLE 
****************************/

    /* Header */

header {
    background-color: #0084fd;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 50px;
}

header .row {
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
}

.navbar-header {
    display: none;
}

.navbar-header ul{
    display: flex;
    gap: 0px 35px;
}

.navbar-header .button {
    background-color: white;
    color: black;
    padding: 10px 20px;
}

.hamburger-menu {
    font-size: 25px;
}

    /* HEADER media query */

@media (min-width: 992px) {

.navbar-header {
    display: block;
}

.hamburger-menu {
    display: none;
}

}

    /* Hero section */

.hero [class^="col"] {
    padding: 12px;
}

.card {
    background-color: #B5DDFF;
    border-radius: 24px;
    display: flex;
    padding: 30px 25px 40px;
    color: #5A6E7F;
    height: 100%;
}

.hero-flex-card .card {
    padding: 0px;
    flex-direction: column;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px 0px;
    padding: 30px 25px 40px 25px;
}

.card-title {
    color: #0084FD;
    font-weight: 700;
    font-size: 20px;
}

.card-body .button {
    color: white;
    background-color: #0084FD;
    padding: 15px 50px
}

.hero .card.flex-column {
    gap: 40px 0px;
    text-align: center;
}

.blue-icon {
    font-size: 80px;
    color: #0084FD;
}

.card-body .button p {
    display: inline-block;
    margin-left: 10px;
}

.card-img {
    justify-self: flex-end;
}

.card-img img {
    max-width: 250px;
    max-height: 278px;
}

/* HERO media query */

@media (min-width: 992px) {
    .hero-flex-card .card {
        flex-direction: row;
    }

    .card-img {
        justify-self: auto;
        align-self: flex-end;
    }

}

@media (min-width: 575px) {
    .col-12 {
        width: calc(4 * 100% / 12);
    }

    .hero-flex-card {
        width: calc(8 * 100% / 12)
    }
}


/**************************** 
    UTILITIES 
****************************/

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}